<h3>Log in</h3>
<a href='/auth/signup'>Sign up</a>

<form id="login" action="/auth/login" method="post">
    {% csrf_token %}
    <label for='username'>Username:
        <input type='text' name='username' value='{{username}}' />
    </label>
    <label for='password'>Password:
        <input type='password' name='password' value='{{password}}' />
    </label>
    <input type="submit" />
</form>

{% if incorrect_login %}
<div>
    <span style="color:red">Username or password is incorrect</span>
</div>
{% endif %}