<h3>Sign up</h3>
<a href='/auth/login'>Log in</a>

<form id="login" action="/auth/signup" method="post">
    {% csrf_token %}
    <label for='username'>Username:
        <input type='text' name='username' value='{{username}}' />
    </label>
    <label for='password'>Password:
        <input type='password' name='password' value='{{password}}' />
    </label>
    <input type="submit" />
</form>

{% if desired_name_in_use %}
<div>
    <span>Apologies, that username is already taken.</span>
</div>
{% endif %}